#startimage {
    width: 100%;
    width: 100%;
}

#logoimage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    -ms-transform: translate(-50%, -50%);
    height: 25%;
}

#icon {
  width: 10%;
}

li {
  display: inline;
  float: left;
}

body {
    padding: 0;
    margin: 0;
}

#map {
    height: 700px;
}

.container {
    position: relative;
    width: 100%;
  }

  /* Style the button and place it in the middle of the container/image */
  .container .btn2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #DAB076;
    color: #513700;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border-style: solid;
    border-color: #7E5F1F;
  }
  
  .container .btn2:hover {
    background-color: #a18153;
  }

  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #DAB076;
    color: #513700;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border-style: solid;
    border-color: #7E5F1F;
  }
  
  .container .btn:hover {
    background-color: #a18153;
  }

  .btn .maplink{
      font-size: 20px;
      color: #513700;
      text-decoration: none;
      border-color: #7E5F1F;
  }

  .btn2 .loginlink{
    font-size: 20px;
    color: #513700;
    text-decoration: none;
    border-color: #7E5F1F;
}

/* Style for the navbar not working...*/
  a .nav-custom {
    font-size:200px;

  }