*{
    margin: 0;
    padding: 0;
}

.img{
    height: 100%;
    width: 100%;
    background-image: "images/LB-desktop-startup-bg.png";
    background-color: black;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 380px;
    height: 480px;
    position: absolute;
    margin: 6% auto;
    background: #fff;
    padding: 10px;
}

.login-button{
    top: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    background: black;
    width: 100px;
    height: 30px;
}

.reg-button{
    top: 50%;
    left: 50%;
    transform: translate(50%, 0%);
    position: absolute;
    background: black;
    width: 100px;
    height: 30px;
}

.form-box h3{
    text-align: center;
}

#email {
    width: 100%;
    padding: 0px;
    height: 30px;
    font-size: 18px;
}

#pw {
    width: 100%;
    padding: 0px;
    height: 30px;
    font-size: 18px;
}

#logreg {
    position: absolute;
    width: 100%;
}