body{
    margin: 0;
    padding: 0;
}

.form-box{

    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 380px;
    height: 450px;
    position: absolute;
    margin: 6% auto;
    background: #fff;
    padding: 10px;
    box-shadow: 5px 5px 5px;
    border-radius: 25px;
}

.login-button{
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    background-color: #DAB076;
    border-style: solid;
    border-color: #7E5F1F;
    width: 100px;
    height: 40px;
    color: #513700;
    font-size: 20px;
    border-radius: 10px;
}

.signup-button{
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    background-color: #DAB076;
    border-style: solid;
    border-color: #7E5F1F;
    width: 100px;
    height: 40px;
    color: #513700;
    font-size: 20px;
    border-radius: 10px;
}

.signout-button{
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    background-color: #DAB076;
    border-style: solid;
    border-color: #7E5F1F;
    width: 100px;
    height: 40px;
    color: #513700;
    font-size: 20px;
    border-radius: 10px;
}

.form-box h3{
    text-align: center;
}

#email {
    width: 100%;
    padding: 0px;
    height: 30px;
    font-size: 18px;
}

#pw {
    width: 100%;
    padding: 0px;
    height: 30px;
    font-size: 18px;
}

.signupbtn{
    transform: translate(0px, 150px);
    text-align: center;
    font-size: 18px;
}

.about{
    height: 600px;
    width: 75%;
    padding: 10px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    background: white;
    box-shadow: 5px 5px 5px;
    border-radius: 25px;
}

.about h1{
    margin: 40px;
}

#reference{
    font-size: 12px;
}

.about p{
    margin: 20px;
}