*{
    margin: 0;
    padding: 0;
}

.img{
    height: 100%;
    width: 100%;
    background-image: "images/LB-desktop-startup-bg.png";
    background-color: black;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 380px;
    height: 500px;
    position: absolute;
    margin: 6% auto;
    background: #fff;
    padding: 10px;
}

.signup-button{
    /*
    top: 90%;
    right: 50%;
    transform: translate(-20px, 0%);
    */
    top: 88%;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    background-color: #DAB076;
    border-style: solid;
    border-color: #7E5F1F;
    width: 100px;
    height: 40px;
    color: #513700;
    border-radius: 10px;
}

.form-box h3{
    text-align: center;
}

#name {
    width: 100%;
    padding: 0px;
    height: 30px;
    font-size: 18px;
}

#org {
    width: 100%;
    padding: 0px;
    height: 30px;
    font-size: 18px;
}

#email {
    width: 100%;
    padding: 0px;
    height: 30px;
    font-size: 18px;
}

#pw {
    width: 100%;
    padding: 0px;
    height: 30px;
    font-size: 18px;
}

#confirmpw {
    width: 100%;
    padding: 0px;
    height: 30px;
    font-size: 18px;
}

#logreg {
    position: absolute;
    width: 100%;
}